<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <h1><%= title %></h1>
</head>
<body style="margin-left:1%;margin-top: 1%">
    <strong style="color: red">Ratings</strong>
    <br>
    <div>
        <strong>1:</strong> <%= rat[0] %>
    </div>
    <div>
        <strong>2:</strong> <%= rat[1] %>
    </div>
    <div>
        <strong>3:</strong> <%= rat[2] %>
    </div>
    <div>
        <strong>4:</strong> <%= rat[3] %>
    </div>
    <div>
        <strong>5:</strong> <%= rat[4] %>
    </div>
    <div>
        <strong>6:</strong> <%= rat[5] %>
    </div>
    <div>
        <strong>7:</strong> <%= rat[6] %>
    </div>
    <div>
        <strong>8:</strong> <%= rat[7] %>
    </div>
    <div>
        <strong>9:</strong> <%= rat[8] %>
    </div>
    <div>
        <strong>10:</strong> <%= rat[9] %>
    </div>
    <br>
    <a href="/movies" class="btn btn-default btn-sm">Back to Box Office</a>
</body>
</html>

